html,body,#app{ width: 100%; height: 100%; margin: 0; padding: 0;}
body::-webkit-scrollbar { display: none;}
body { /*Firefox浏览器*/ scrollbar-width: none; /* ie浏览器 */ -ms-overflow-style: none;}
p { margin: 0; padding: 0;}
.flex { display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-1 { flex: 1}
.coloum {flex-direction: column;}
.f-c {justify-content: center;}
.f-b {justify-content: space-between;}
.f-a {justify-content: space-around;}
.j-c {align-items: center;}
.f-e {justify-content: flex-end;}
.l-h-32 {line-height: 32px;}
.p-d {height: 32px;width: 100px;text-align: right;margin-right: 15px;}
.m-b-4 {margin-bottom: 4px;}
.m-b-8 {margin-bottom: 8px;}
.m-b-16 {margin-bottom: 16px;}
.m-l-10 {margin-left: 10px;}
.m-l-16 {margin-left: 16px;}
.p-x-16 {padding: 0 16px;}
.title{height: 24px;font-size: 12px;color: #ff3c3c;line-height: 24px;}
.t-c {text-align: center;}
.t-r {text-align: right;}
.m-b-30 {margin-bottom: 30px;}
.c-04B {color: #04B404;}
.c-409 {color: #2d8cf0;}
.c-w {color: #fff;}
.c-F56 {color:#F56C6C}
.b-409 {background-color: #2d8cf0;}
.f-20 {font-size: 20px;}
.w-100 {width: 100%;}
.h-100 {height: 100%;}
.ivu-drawer-content { background-color: #28333E !important;}
.ivu-drawer-body { padding: 0px !important; background-color: #28333E !important;}
.el-menu { border-right: solid 1px #28333E !important}
.relative {position: relative;}
.absolute {position: absolute;}
.inline-block {display: inline-block;}